<ion-header>
  <ion-toolbar>
    <ion-title><img src="assets/logoWide.png" class="logo" style="width:70%"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" class="menuButton"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="storefront">
    <ion-card-header>
      <ion-card-title ><ion-icon name="alert-circle"></ion-icon>&nbsp;Our Company History</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <img src="assets/store.png" alt="picture">
    </ion-card-content>
  </ion-card>

<ion-card class="infoCard">
  <ion-card-header>
    <ion-card-title ><ion-icon name="bulb-outline"></ion-icon>&nbsp; Founded in 2010</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <ion-row class="about">
    Titan paws believes that the lovable innocence found in every dog helps us
     reconnect with our true selves and teaches us valuable life lessons. dogs
      make us better people. The company manufacture dry and wet dog food and
      treats encourage, support, fortify and fuel a dog’s power to be their
       healthiest and happiest selves at every stage of life — puppy, adult and senior.
  </ion-row>

  </ion-card-content>
</ion-card>

<ion-card class="cardMap">
<ion-card-header>
  <ion-card-title ><ion-icon name="bulb-outline"></ion-icon> &nbsp;Now, 2022</ion-card-title>
</ion-card-header>
<ion-card-content>
  
  <ion-row class="about">
    Everything we do is for the love of dogs and we are passionate about what we do.
     With over 10 years of experience selling and delivering pet food, we're proud of our products. Our
      dedication goes into every product we sell, and we strive to bring you great quality,
       nutritious products that'll help keep dogs of all breeds and ages happy and healthy.
  </ion-row>
 
</ion-card-content>
</ion-card>


</ion-content>
