<ion-header>
  <ion-toolbar>
    <ion-title><img src="assets/logoWide.png" class="logo" style="width:70%"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" class="menuButton"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ioncontent">

  <ion-card class="name">
    <ion-card-content>
      <img src="assets/macapanas.jpg" alt="picture">
      <ion-card-title class="title">AERON LOUISE MACAPANAS</ion-card-title>
      <ion-card-subtitle class="course">Mobile Application Developer</ion-card-subtitle>


      <ion-card-content class="details">
        The back-end and front-end developer of the application. Responsible for the homepage, products details, cart, developers and contact page.<br>
       </ion-card-content>
    
    </ion-card-content>
  </ion-card>

</ion-content>

