
ion-content{
      --ion-background-color:#35415c;
      --ion-item-background:white;
     
    }
    

.search
{
    padding-top: 2%;
    --background: transparent;
}

    ion-toolbar{
      --background:#c23543;
      
       //red
    
     ion-icon
     {
      // color:#e1b723;
      color:white;
     }
     .cart-length
     {
      color:white;
     }
    
     .menuButton
     {
      color:white;
     }
    
    }

ion-grid {
    height: 40px;
    margin-top: -10px;
    padding-inline-start: 12px;
    padding-inline-end: 0; 
 

}

h1 {
    font-size: 18px;
    color: white;

}

//see all button
ion-button{
    margin-left: auto;
    font-size: 16px;
    text-transform: initial;
}

.categorySlides{

   
 


ion-card-header {
    padding: 5px;
    --background: #19243b;

    ion-card-title {
        font-size: 16px;
       // color:#dbbc4a;
    }

}

.image {
    height: 70px;
    width: 85px;
    background-position: center !important;
    background-size: cover !important;
    
}
    
    
}
    

.container
{ 

  
  position: absolute;
  
 // top: 92%;
  z-index: 2;
  
  
  .grid{
    
    -webkit-padding-start: 0;
    margin:0 !important;
    
  }

  ion-card{
    //margin-top: 0px !important;
    margin-top: -8px;
  }

  ion-list{
    border-radius: 5px;
    height: 550px;
  

    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(215,228,255,1) 100%);



    overflow-x: hidden;
    overflow-y: auto;
    

  }


 
 
//category title
  p
  {
   color:black;
   margin-left: 20px;
   font-weight: bold;
   font-family:'main';
   
  }
        
//product title
  h2
  {
    color:black;
    font-size:15px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
   
  }

  //description
  h3
  {
    color:black;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;

    text-align: justify;

  }

  //price


  width:100%;
 
  ion-thumbnail{
   
    width:100px !important;
    height: 150px !important;
    
 
    .priceContainer{

      position: relative;
      text-align: center;
   

    .ribbon
    {
      
      margin-top: 15px;
      height: 10px;
    }
    .price
    {

      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
        
        color:rgb(248, 248, 90);
     
        font-size:23px;

    }   

                 }   
    

    img
    {
        margin-top: -20px;
       
    }

    

  }
  
  #qty{
    
    color:black;
    font-size:18px;
    

    #btn
    {
      
      padding:15px 15px;
      color:white;
      background-color:  #4d608a;
      border-radius: 5px;
      
     
      
    }

  }

}
    
    
    