<ion-header>
  <ion-toolbar>
    <ion-title><img src="assets/logoWide.png" class="logo" style="width:70%"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" class="menuButton"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

      <img src="assets/contact.jpg" alt="picture">



<ion-card class="infoCard">
  <ion-card-header>
    <ion-card-title ><ion-icon name="bulb-outline"></ion-icon>&nbsp;Information</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-row>
    <ion-icon name="mail"></ion-icon> &nbsp; titanpaws@gmail.com
  </ion-row>

  <ion-row>
  <ion-icon name="call"></ion-icon>&nbsp;0932 696 2100
  </ion-row>

  <ion-row>
    <ion-icon name="compass"></ion-icon> &nbsp;B16 L16 Sta Isabel Mission Hills, Antipolo
  </ion-row>

  <ion-row>
    <ion-icon name="logo-chrome"></ion-icon> &nbsp;www.titanpaws.com
  </ion-row>

  </ion-card-content>
</ion-card>

<ion-card class="cardMap">
<ion-card-header>
  <ion-card-title ><ion-icon name="bulb-outline"></ion-icon> &nbsp;Find us here!</ion-card-title>
</ion-card-header>
<ion-card-content>
  <div class="map">
    <img src="assets/mapTest.jpg" alt="picture">
    </div>      
</ion-card-content>
</ion-card>

<ion-card class="store">
  <ion-card-header>
    <ion-card-title ><ion-icon name="storefront"></ion-icon>&nbsp;Inside the store</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="map">
      <img src="assets/store.jpg" alt="picture">
      </div>      
  </ion-card-content>
  </ion-card>

  

</ion-content>
