<ion-header>
  <ion-toolbar>
    <ion-title>My cart</ion-title>


    <div class="ion-text-end">
      <ion-button (click)="close()" fill="clear" color="dark">
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cart-items">
    <ion-card >
      
      <ion-card-content *ngFor="let p of cart" >
        <img src ="assets/ribbonWide.png"class="cartItemNumber" />
        <ion-icon name="trash" slot="icon-only" class="remove-item" (click)="removeCartItem(p)"></ion-icon>
        <div class="item-img">
          <img src="{{  p.image }}" />
        </div>

        <div class="item-info">

          <p>{{ p.name }} </p> 
           
          
         

          <p>₱{{ p.amount * p.price }}</p>

          <div class="qty-selector">
            <ion-button fill="clear"  (click)="decreaseCartItem(p)" class="minus" >
              <ion-icon name="remove-circle" ></ion-icon>
           </ion-button>
            <ion-label>{{ p.amount }}</ion-label>
            
            <ion-button fill="clear" (click)="increaseCartItem(p)" class="plus" >
              <ion-icon name="add-circle" ></ion-icon>
            </ion-button>
          
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  
  </div>

  <div class="address">
    <ion-item lines="none">
      &nbsp; Pablo Ocampo Street, San Antonio
      <ion-badge color="dark" slot="end">&nbsp;</ion-badge>
    </ion-item>
  </div>

  <hr>

  <div class="cart-total">
    <ion-item lines="none">
      <ion-label>&nbsp;Total</ion-label>
      <ion-label slot="end" class="ion-text-right">{{ getTotal() | currency:'PHP' }}</ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button color="danger" expand="block" class="checkoutButton" routerLink="/confirm" routerDirection="forward" >Checkout</ion-button>
  </ion-toolbar>
</ion-footer>

