<ion-header>
  <ion-toolbar>
    <ion-title><img src="assets/logoWide.png" class="logo" style="width:70%"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" class="menuButton"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="storefront">
    <ion-card-header>
      <ion-card-title ><ion-icon name="storefront"></ion-icon>&nbsp;Our Store - 9am to 7pm</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <img src="assets/dogFoodBundle.jpg" alt="picture">
        
    </ion-card-content>
    </ion-card>

<ion-card class="infoCard">
  <ion-card-header>
    <ion-card-title ><ion-icon name="bulb-outline"></ion-icon>&nbsp;About us</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <ion-row class="about">
    Titan Paws Dog Food has continually worked to bring and deliver the perfect food
     diet for your pet. We have made our company successful by providing the
      highest quality products available on the market at a reasonable price. 
      As we go forward in our dog food journey, Titan paw’s plans to stay true to
       our core values of offering a quality product that can truly improve
        our pet's life, and not prioritize profits over pets.
  </ion-row>



  </ion-card-content>
</ion-card>

<ion-card class="cardMap">
<ion-card-header>
  <ion-card-title ><ion-icon name="bulb-outline"></ion-icon> &nbsp;Know more</ion-card-title>
</ion-card-header>
<ion-card-content class="video">
  
    <iframe  id ="video" width="350" height="215" src="assets/videoCut.mp4" 
    frameborder="0" sandbox allowfullscreen>
    </iframe>
 
</ion-card-content>
</ion-card>



  

</ion-content>
